@font-face {
  font-family: "BebasPro";
  src: url("../fonts/BebasNeuePro-Regular.ttf") format("truetype");
  font-weight: 400;
}
body {
  font-family: BebasPro !important;
  font-weight: normal;
  background: #222323 !important;
}

p {
  color: #ecf2ec !important;
}

#header {
  display: flex;
  border-left: 2px solid #ecf2ec;
  border-top: 2px solid #ecf2ec;
  border-right: 2px solid #ecf2ec;
}
#header .divider {
  height: 2px;
  background: #ecf2ec;
}
#header a {
  color: #ecf2ec;
  text-decoration: none;
  font-size: 1.75rem;
}
#header #content-1 {
  width: 150px;
  border-right: 2px solid #ecf2ec;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#header #content-1:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#header #content-1 #site-title {
  flex: 0 1 auto;
  font-size: 2.5rem;
  line-height: 1;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
#header #content-2 {
  flex: 0.5;
}
#header #content-2 p {
  font-size: 1.75rem;
}
#header #content-2 .info,
#header #content-2 .menu-links {
  padding: 16px 0;
}
#header #content-2 .menu-links a {
  text-transform: uppercase;
}
#header #content-logo {
  position: relative;
}
#header #content-logo .tudor-rose {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
  background-image: url("../../assets/images/tudor-rose.svg");
  background-size: 80%;
  background-position: center 10px;
  border-radius: 50%;
  border: 2px solid #ecf2ec;
  background-color: #222323;
  background-repeat: no-repeat;
}
#header #content-3 {
  flex: 0.5;
}
#header #content-3 p {
  font-size: 1.75rem;
}
#header #content-3 .info,
#header #content-3 .menu-links {
  padding: 16px 0;
}
#header #content-3 .menu-links a {
  text-transform: uppercase;
}
#header #content-4 {
  width: 150px;
}
#header #content-4 .sign-up-log-in {
  display: flex;
  border-bottom: 2px solid #ecf2ec;
}
#header #content-4 .sign-up-log-in a {
  flex: 0.5;
  text-align: center;
  padding: 22px 0;
  font-size: 1.25rem;
  text-transform: uppercase;
}
#header #content-4 .sign-up-log-in a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#header #content-4 .sign-up-log-in a:first-of-type {
  border-left: 2px solid #ecf2ec;
}
#header #content-4 .sign-up-log-in a:last-of-type {
  border-left: 2px solid #ecf2ec;
}

#home {
  border-left: 2px solid #ecf2ec;
}

#hero {
  border-top: 2px solid #ecf2ec;
  padding: 25px;
  height: 100%;
  width: 100%;
  position: relative;
}
#hero img {
  width: 80%;
  position: relative;
  top: 100px;
}
#hero .hero-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
}
#hero .text-1 {
  font-size: 1.25rem;
  line-height: 1;
  flex: 0.2;
}
#hero .text-2 {
  font-family: BebasPro;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 1px;
  flex: 0.6;
}

#locate {
  display: flex;
  box-shadow: -2px 2px 0 0 #ecf2ec;
}
#locate a {
  text-decoration: none;
}
#locate div:first-of-type {
  flex: 1;
  margin-bottom: -2px;
}
#locate input {
  border: 0;
  border-radius: 0;
  background: #ecf2ec;
  padding: 16px;
  font-size: 1.75rem;
}
#locate input:focus-visible {
  outline: none;
}
#locate .btn-locate {
  padding: 16px;
  font-size: 1.75rem;
  border-color: #ecf2ec;
  border-style: solid;
  border-width: 2px 2px 0 0;
}
#locate .btn-locate img {
  height: 26px;
  margin-top: -6px;
}
#locate .btn-locate span {
  text-transform: uppercase;
}
#locate .btn-locate:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.container-fluid {
  padding: 0 !important;
}

.featured-item {
  position: relative;
  height: 350px;
}
.featured-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.featured-item .heading {
  font-size: 1.75rem;
  line-height: 1;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
}
.featured-item .description {
  font-family: BebasPro;
  line-height: 1.25;
  font-size: 1rem;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  font-weight: 300;
  letter-spacing: 1px;
}

.featured-item-1,
.featured-item-2,
.featured-item-3,
.featured-item-5,
.featured-item-6,
.featured-item-7 {
  box-shadow: -2px 2px 0 0 #ecf2ec;
}

.featured-item-4,
.featured-item-8 {
  box-shadow: inset -2px 2px 0 0 #ecf2ec, -2px 2px 0 0 #ecf2ec;
}

.featured-menu-item {
  text-decoration: none !important;
  color: #ecf2ec;
}
.featured-menu-item p {
  text-transform: uppercase;
}
.featured-menu-item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none !important;
  padding: 25px;
}
.featured-menu-item div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.featured-menu-item div img {
  height: 32px;
}
.featured-menu-item div i {
  color: #ecf2ec;
}
.featured-menu-item div p {
  line-height: 1;
  color: #ecf2ec;
  font-size: 2rem;
  margin: 0;
}

.featured-menu-item-1 {
  box-shadow: -2px 2px 0 0 #ecf2ec;
}

.featured-menu-item-2 {
  box-shadow: inset -2px 2px 0 0 #ecf2ec, -2px 2px 0 0 #ecf2ec;
}

.featured-menu-item-3 {
  box-shadow: -2px 2px 0 0 #ecf2ec;
}

.featured-menu-item-4 {
  box-shadow: inset -2px 2px 0 0 #ecf2ec, -2px 2px 0 0 #ecf2ec;
}

#staff-picks {
  border: 2px solid #ecf2ec;
  padding: 25px;
}
#staff-picks .section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
#staff-picks .section-header p,
#staff-picks .section-header a {
  font-size: 2rem;
  margin: 0;
  text-decoration: none;
  color: #ecf2ec;
  text-transform: uppercase;
}

.staff-pick .cover {
  width: 100%;
  aspect-ratio: 0.71;
  background-size: cover;
  background-position: center center;
  outline: 2px solid #ecf2ec;
}
.staff-pick .title {
  font-size: 2rem;
}

@media (min-width: 1921px) {
  #hero img {
    max-width: 833px;
  }
}
@media (max-width: 1399.98px) {
  #header #content-2 p,
#header #content-3 p {
    font-size: 1.25rem;
  }
  #header #content-2 .info,
#header #content-3 .info {
    padding: 22px 0;
  }
}
@media (max-width: 1199.98px) {
  .featured-item {
    height: 275px;
  }
  #staff-picks .row div:nth-child(-n+2) .staff-pick {
    margin-bottom: 50px;
  }
  #header #content-logo .tudor-rose {
    height: 90px;
    width: 90px;
    background-size: 75%;
  }
  #header #content-2 .info,
#header #content-3 .info {
    padding: 17px 0;
  }
  #header #content-2 .info p,
#header #content-3 .info p {
    line-height: 1.25rem;
  }
}
@media (max-width: 991.98px) {
  #header .divider {
    position: relative;
    top: 50%;
  }
  .featured-item {
    height: 200px;
  }
  .featured-item-2,
.featured-item-6 {
    box-shadow: inset -2px 2px 0 0 #ecf2ec, -2px 2px 0 0 #ecf2ec;
  }
  #header #content-1 {
    width: 126px;
  }
  #header #content-1 #site-title {
    font-size: 2rem;
  }
  #header #content-3 {
    border-right: 2px solid #ecf2ec;
  }
  #header #content-4 {
    width: 126px;
    position: relative;
  }
  #header #content-4 #mobile-nav {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  #header #content-4 #mobile-nav img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
  }
  #mobile-nav-menu {
    display: none;
  }
  #mobile-nav-menu a {
    display: block;
    padding: 5px 20px;
    border-left: 2px solid #ecf2ec;
    border-right: 2px solid #ecf2ec;
    border-top: 2px solid #ecf2ec;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3rem;
    color: #ecf2ec;
    background: #333;
    font-weight: bold;
  }
}
@media (max-width: 767.98px) {
  #header #content-1 {
    width: 102px;
  }
  #header #content-1 #site-title {
    font-size: 1.5rem;
  }
  #header #content-logo .tudor-rose {
    height: 80px;
    width: 80px;
    background-position-y: 9px;
  }
  #header #content-4 {
    width: 102px;
  }
  #header #content-4 #mobile-nav img {
    width: 50px;
    cursor: pointer;
  }
  #catalog-search {
    padding: 15px 25px;
    border-top: 2px solid #ecf2ec;
    border-right: 2px solid #ecf2ec;
  }
  #catalog-search a,
#catalog-search p {
    text-transform: uppercase;
    font-size: 1.25rem;
  }
  #catalog-search a {
    text-decoration: none;
    color: white;
  }
  .featured-item {
    height: 350px;
  }
  .featured-item-1,
.featured-item-3,
.featured-item-5,
.featured-item-7 {
    box-shadow: inset -2px 2px 0 0 #ecf2ec, -2px 2px 0 0 #ecf2ec;
  }
  .featured-menu-item-1,
.featured-menu-item-3 {
    box-shadow: inset -2px 2px 0 0 #ecf2ec, -2px 2px 0 0 #ecf2ec;
  }
  .featured-sections {
    flex-direction: column;
    display: flex;
  }
  .featured-sections .row-1-featured-items {
    order: 3;
  }
  .featured-sections .row-2-featured-items {
    order: 4;
  }
  .featured-sections .row-1-featured-menu-items {
    order: 1;
  }
  .featured-sections .row-2-featured-menu-items {
    order: 2;
  }
  #staff-picks .row div:nth-child(-n+2) .staff-pick {
    margin-bottom: 50px;
  }
  .staff-pick .title {
    font-size: 1rem;
    line-height: 1;
  }
  #locate span {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */